attrs
certifi
charset-normalizer==3.3.2
execnet
idna==3.4
iniconfig
packaging==24.1
playwright==1.45.1
pluggy==1.5.0
py
pyee==9.0.4
pyparsing
pytest==7.2.0
allure-pytest
pytest-base-url
pytest-forked
pytest-playwright
pytest-xdist
python-slugify
requests==2.28.1
text-unidecode
toml
tomli
urllib3
websockets==12.0

jproperties==2.1.2
none~=0.1.1
configparser==7.0.0
python-dotenv==1.0.1
greenlet

boto3~=1.26.23
elasticsearch
yagmail~=0.15.293